.root {
  align-items: center;
  align-self: start;
  display: inline-flex;
  text-decoration: none;
}

.logo {
  display: block;
  height: var(--line-height-brand-regular);
  object-fit: contain;
  width: auto;
}
