.root {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.main {
  flex: 1;
  margin-inline: var(--layout-main-margin-x);
}

@media (max-width: 600px) {
  .main {
    padding-bottom: 72px;
  }
}
