.list {
  display: flex;
  gap: 28px;
  list-style: none;
  margin: 0;
  padding: 0;
}

.listVertical {
  flex-direction: column;
  gap: 4px;
}

.link {
  color: var(--header-text);
  display: inline-block;
  font-family: var(--font-family-base);
  font-size: var(--font-size-body-b-s-regular);
  font-weight: 400;
  line-height: var(--line-height-body-b-s-regular);
  padding-block: 4px;
  text-decoration: none;
}

.link:hover {
  color: var(--header-accent);
}

.active {
  color: var(--header-accent);
  box-shadow: inset 0 -1px 0 0 var(--header-accent);
}

.listVertical .link {
  font-size: var(--font-size-body-b-m-semibold);
  line-height: var(--line-height-body-b-m-semibold);
  padding-block: 12px;
}

.listVertical .active {
  box-shadow: none;
}
